<%= form_with(model: @article, local: true) do |form| %>
<% if @article&.errors&.any? %>
<div id="error_explanation">
  <h2>
    <%= pluralize(@article&.errors&.count, "error") %> prohibited
    this article from being saved:
  </h2>
  <ul>
    <% @article&.errors&.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<p class="mb-5">
  <%= form.label :title, class: "mb-1 inline-block" %><br>
  <%= form.text_field :title,  class: "border rounded py-1 px-2" %>
</p>

<p class="mb-5">
  <%= form.label :text, class: "mb-1 inline-block" %><br>
  <%= form.text_area :text,  class: "border rounded py-1 px-2" %>
</p>

  <%= form.file_field :image, class: "mb-5" %>

<p>
  <%= form.submit 'Update Article', class: "mb-3 bg-green-400 text-white px-2 py-1 rounded" %>
</p>
<% end %>

<%= link_to 'Back', articles_path %>