<div class="p-3">
  <% flash.each do |name, msg| %>
  <div  class="bg-green-500 text-white p-2 mb-2 flex justify-between">
    <%= content_tag :div, msg %>
    <button onClick="this.parentElement.remove()">X</button>
  </div>
  <% end -%>

  <p class="text-2xl capitalize text-gray-900"><%= @article.title %></p>
  <span class="text-xs text-gray-600 mb-3 inline-block"><%= @article.user.username %> - <%= time_ago_in_words(@article.created_at) %> ago - </span>
  <%= link_to 'Edit', edit_article_path(@article), class: "text-xs text-gray-600 hover:underline" %> |
  <%= link_to 'Delete', article_path(@article), method: :delete, class: "text-xs text-red-600 hover:underline" %>
  <%= image_tag(url_for(@article.image)) if @article.image.attached? %>
  <p class="text-gray-700 my-3 whitespace-pre-line"><%= @article.text %></p>

  <h3 class="text-2xl capitalize mb-3 text-gray-700">comments</h3>
  <% if @article.comments.count == 0 %>
  <p class="text-gray-500">No commments</p>
  <% else %>
  <%= render @article.comments %>
  <% end %>

  <hr class="my-5">

  <%= render 'comments/form' %>

</div>